@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 268 33% 9%; /* #1e142c */
    --foreground: 276 25% 98%; /* #f9f8fa */

    --card: 267 40% 18%; /* Slightly lighter than background */
    --card-foreground: 270 17% 98%;

    --popover: 267 40% 10%;
    --popover-foreground: 270 17% 98%;

    --primary: 278 100% 63%; /* #a240ff */
    --primary-foreground: 279 100% 98%;

    --secondary: 270 30% 30%;
    --secondary-foreground: 270 17% 98%;

    --muted: 278 12% 64%; /* #a392b3 */
    --muted-foreground: 278 12% 64%;

    --accent: 279 90% 70%; /* Lighter Purple */
    --accent-foreground: 270 17% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 267 30% 25%;
    --input: 267 30% 20%;
    --ring: 279 90% 70%;

    --chart-1: 279 90% 65%;
    --chart-2: 279 80% 70%;
    --chart-3: 279 70% 75%;
    --chart-4: 279 80% 80%;
    --chart-5: 279 90% 85%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 268 33% 9%; /* #1e142c */
    --foreground: 276 25% 98%; /* #f9f8fa */

    --card: 267 40% 18%; /* Slightly lighter than background */
    --card-foreground: 270 17% 98%;

    --popover: 267 40% 10%;
    --popover-foreground: 270 17% 98%;

    --primary: 278 100% 63%; /* #a240ff */
    --primary-foreground: 279 100% 98%;

    --secondary: 270 30% 30%;
    --secondary-foreground: 270 17% 98%;

    --muted: 278 12% 64%; /* #a392b3 */
    --muted-foreground: 278 12% 64%;

    --accent: 279 90% 70%; /* Lighter Purple */
    --accent-foreground: 270 17% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 267 30% 25%;
    --input: 267 30% 20%;
    --ring: 279 90% 70%;
    
    --chart-1: 279 90% 65%;
    --chart-2: 279 80% 70%;
    --chart-3: 279 70% 75%;
    --chart-4: 279 80% 80%;
    --chart-5: 279 90% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
